
table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 2%;
}

th, td {
	border: 1px solid black;
	padding: 5px 10px;
}

th {
	border-color: red;
}

.settings {
	margin: 2%;
}

input {
	min-width: 500px;
}

button {
	margin-left: 10px;
}

#all {
	font-weight: bold;
}
